{
  "extends": "stylelint-config-sass-guidelines",
  "rules": {
    "selector-class-pattern": null,
    "max-nesting-depth": null,
    "selector-max-compound-selectors": 5,
    "selector-max-id": 1
  }
}
