/* === VEGA COLORS === */

/*
Note: We follow blueprints color naming scheme. https://blueprintjs.com/docs/#core/colors EG:
$color1 = Darkest
$color2
$color3 = Base color
$color4
$color5 = Lightest
*/
:root {
  /* Brand colors */
  --vega-red-rgb: 255, 38, 26;
  --vega-red: rgb(var(--vega-red-rgb));
  --vega-green-rgb: 38, 255, 138;
  --vega-green: rgb(var(--vega-green-rgb));
  --vega-yellow-rgb: 218, 255, 13;
  --vega-yellow: rgb(var(--vega-yellow-rgb));
  --vega-orange-rgb: 217, 130, 43;
  --vega-orange: rgb(var(--vega-orange-rgb));
  --vega-blue-rgb: 72, 175, 240;
  --vega-blue: rgb(var(--vega-blue-rgb));

  /* Contextual colors */
  --intent-none-rgb: 110, 110, 110;
  --intent-none: var(--intent-none-rgb);
  --intent-none-bg: rgba(var(--intent-none-rgb), 0.4);
  --intent-primary-rgb: var(--vega-blue-rgb);
  --intent-primary: rgb(var(--intent-primary-rgb));
  --intent-primary-bg: rgba(var(--intent-primary-rgb), 0.4);
  --intent-success-rgb: 24, 181, 103;
  --intent-success: rgb(var(--intent-success-rgb));
  --intent-success-bg: rgba(var(--intent-success-rgb), 0.4);
  --intent-warning-rgb: var(--vega-orange-rgb);
  --intent-warning: var(--vega-orange);
  --intent-warning-bg: rgba(var(--intent-warning-rgb), 0.4);
  --intent-danger-rgb: 237, 21, 21;
  --intent-danger: rgb(var(--intent-danger-rgb));
  --intent-danger-bg: rgba(var(--intent-danger-rgb), 0.4);

  /* Grayscale */
  --black: #101010;
  --white: #fff;
  --dark-gray1: #1f1f1f;
  --dark-gray2: #2a2a2a;
  --dark-gray3: #363636;
  --dark-gray4: #3f3f3f;
  --dark-gray5: #494949;
  --gray1: #6e6e6e;
  --gray2: #848484;
  --gray3: #999;
  --gray4: #b5b5b5;
  --gray5: #cbcbcb;
  --light-gray1: #d7d7d7;
  --light-gray2: #e0e0e0;
  --light-gray3: #e7e7e7;
  --light-gray4: #f0f0f0;
  --light-gray5: #f8f8f8;
  --text-color: #f8f8f8;
  --text-color-deemphasise: #8a9ba8;
  --text-color-emphasise: #f5f8fa;
}
