/* === VEGA COLORS === */

/*
Note: We follow blueprints color naming scheme. https://blueprintjs.com/docs/#core/colors EG:
$color1 = Darkest
$color2
$color3 = Base color
$color4
$color5 = Lightest
*/
$vega-red3: #ff261a;
$vega-green3: #26ff8a;
$vega-yellow3: #daff0d;
$vega-orange3: #d9822b;
$vega-blue3: #48aff0;

$vega-red1: darken($vega-red3, 38%);
$vega-green1: darken($vega-green3, 38%);
$vega-yellow1: darken($vega-yellow3, 38%);
$vega-orange1: darken($vega-orange3, 38%);

/* === BLUEPRINT COLOR OVERRIDES === */
$black: #000;
$white: #fff;

$dark-gray1: #1f1f1f;
$dark-gray2: #2a2a2a;
$dark-gray3: #363636;
$dark-gray4: #3f3f3f;
$dark-gray5: #494949;

$gray1: #6e6e6e;
$gray2: #848484;
$gray3: #999;
$gray4: #b5b5b5;
$gray5: #cbcbcb;

$light-gray1: #d7d7d7;
$light-gray2: #e0e0e0;
$light-gray3: #e7e7e7;
$light-gray4: #f0f0f0;
$light-gray5: #f8f8f8;

/* INTENTS */
$pt-intent-primary: $vega-blue3 !default;
$pt-intent-success: $vega-green3 !default;
$pt-intent-warning: $vega-orange3 !default;
$pt-intent-danger: $vega-red3 !default;

/* TEXT COLORS */
$text-color: #f8f8f8;
$text-color-deemphasise: #8a9ba8;
$text-color-emphasise: #f5f8fa;
