$font-main: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
  Arial, sans-serif;
$font-mono: 'Roboto Mono', monospace;

.font-main {
  font-family: $font-main;
}

.font-mono {
  font-family: $font-mono;
}
