@import "../../styles/colors";

.chrome {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 15px 15px 15px;

  &__topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $white;
    height: 50px;
  }

  &__nav {
    a {
      text-transform: uppercase;
      font-size: 16px;
    }
  }
}
