@import '../../styles/colors';

.chrome {
  margin: 0 auto;
  max-width: 600px;
  padding: 0 15px 15px;

  &__topbar {
    align-items: center;
    border-bottom: 1px solid $dark-gray5;
    display: flex;
    justify-content: space-between;
    min-height: 45px;
  }

  &__nav {
    a {
      font-size: 16px;
      text-transform: uppercase;
    }
  }

  &__main {
    margin-top: 35px;
  }
}
