@import '../../styles/colors';

.bullet-header {
  border-top: 1px solid $white;
  font-size: 16px;
  font-weight: 300;
  margin: 35px 0 0;
  padding: 8px 0 25px;
  text-transform: uppercase;

  &::before {
    background-color: $white;
    content: '';
    display: inline-block;
    height: 12px;
    margin-right: 10px;
    width: 12px;
  }
}
