@import './styles/_reset.css';
@import './styles/_colors.css';
@import './styles/_fonts.css';

html,
body,
#app {
  background-color: var(--black);
  color: var(--text-color);
  font-family: var(--font-main);
  font-size: 16px;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

@media (min-width: 960px) {
  html,
  body,
  #app {
    font-size: 16px;
  }
}

/* TYPOGRAPHY */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--white);
  margin-bottom: 10px;
  margin-top: 30px;
  text-transform: uppercase;
}

.text-muted {
  color: #8a9ba8;
}

p {
  line-height: 1.4;
  margin: 0 0 15px;
  word-break: break-word;
}

a,
.link {
  color: inherit;
}

a:hover,
.link:hover {
  color: var(--vega-yellow);
  text-decoration: underline;
}

/* RESET BUTTON */
button {
  appearance: none;
  background: transparent;
  border: 0;
  color: inherit;
  padding: 0;
}

/* TABLES */
table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 16px;
  width: 100%;
}

table th,
table td {
  padding: 5px;
  vertical-align: top;
}

table th {
  color: var(--white);
  padding-left: 0;
  text-align: left;
}

table td {
  color: var(--text-color-deemphasise);
  padding-right: 0;
  text-align: right;
}

/* FORMS */
input[type='text'],
input[type='password'],
input[type='number'],
select,
textarea {
  background: var(--dark-gray2);
  border: 0;
  color: var(--white);
  display: block;
  font-size: 16px;
  padding: 7px 10px;
  width: 100%;
}

textarea {
  min-height: 200px;
  resize: vertical;
}
