@import './styles/_reset.css';
@import './styles/_colors.css';
@import './styles/_fonts.css';
@import './styles/_animations.css';

html,
body,
#app {
  background-color: var(--black);
  color: var(--text-color);
  font-family: var(--font-main);
  font-size: 16px;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

/*
Helper class for using vega-bg.png as background and border image. If imported and
used as an inline style you the image is embedded as a data URI (as its less than 10,000 bytes)
which isn't a great dev experience when inspecting the DOM

https://create-react-app.dev/docs/adding-images-fonts-and-files/
*/
.vega-bg {
  background-image: url('./images/vega-bg.png');
}

.vega-border-image {
  border-image: url('./images/vega-bg.png') 15%;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--light-gray5);
}

::-webkit-scrollbar-thumb {
  background: var(--gray1);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--dark-gray5);
}
