@import './styles/reset';
@import './styles/colors';
@import './styles/fonts';
@import './styles/blueprint';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#app {
  background-color: $black;
  color: $text-color;
  font-family: $font-main;
  font-size: 16px;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;

  @media (min-width: 960px) {
    font-size: 16px;
  }
}

// RESETS
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

// TYPOGRAPHY
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $white;
  margin-bottom: 10px;
}

.text-muted {
  color: #8a9ba8;
}

p {
  line-height: 1.4;
  margin: 0 0 15px;
  word-break: break-word;
}

a {
  color: $white;

  &:hover {
    color: $vega-yellow3;
  }
}

button {
  background: $dark-gray1;
  border: 0;
  border: 1px solid $dark-gray3;
  border-radius: 2px;
  color: $white;
  cursor: pointer;
  padding: 7px 17px;
  font-size: 16px;

  &:hover {
    background: $dark-gray3;
  }

  &.fill {
    width: 100%;
  }

  &.active {
    background: $dark-gray5;
  }

  &.link {
    appearance: none;
    background: none;
    border: 0;
    display: inline;
    padding: 0;
    text-decoration: underline;

    &:hover {
      color: $vega-yellow3;
    }
  }
}

// TABLES
table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 16px;
  width: 100%;

  th,
  td {
    padding: 5px;
    vertical-align: top;
  }

  th {
    color: $white;
    font-weight: 500;
    padding-left: 0;
    text-align: left;
    text-transform: uppercase;
  }

  td {
    color: $text-color;
    padding-right: 0;
    text-align: right;
  }
}

// FORMS
input,
select,
textarea {
  background: $dark-gray2;
  border: 0;
  color: $white;
  display: block;
  padding: 7px 10px;
  width: 100%;
  font-size: 16px;
}

textarea {
  min-height: 200px;
  resize: vertical;
}
