@import '../../styles/colors';

.switcher {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.switcher-dropdown {
  position: relative;

  > button {
    background: transparent;
    border: 0;
    padding: 17px 10px;
    text-transform: uppercase;

    &:hover {
      text-decoration: underline;
    }
  }

  ul {
    position: absolute;
    top: 100%;
    right: 0;
    background: $dark-gray5;
    min-width: 200px;

    li {
      display: flex;
      justify-content: space-between;
      padding: 10px 15px;
    }

    button {
      background: transparent;
      padding: 0;
      border: 0;
      text-align: left;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
