name: Build binaries

on:
  push:
    branches:
      - main
      - develop
  pull_request:
    branches:
      - main
      - develop

jobs:
  build:
    name: On ${{ matrix.os }} ${{ matrix.arch }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - macos-latest
          - windows-2019
        arch:
          - amd64
          - arm64
    steps:
      - name: Set up Node 16
        uses: actions/setup-node@v3
        with:
          node-version: 16
        id: npm

      - name: Set up Go ^1.19
        uses: actions/setup-go@v4
        with:
          go-version: ^1.19
        id: go

      - name: Get Wails
        run: go install github.com/wailsapp/wails/v2/cmd/wails@v2.4.1

      - name: Check out code into the Go module directory
        uses: actions/checkout@v3

      - name: Build binary for Windows
        if: ${{ runner.os == 'Windows' }}
        run: wails build -f -platform=windows/${{ matrix.arch }}

      - name: Build binary for macOS
        if: ${{ runner.os == 'macOS' }}
        run: wails build -f -platform=darwin/${{ matrix.arch }}

      - name: Tests backend
        if: ${{ matrix.arch == 'amd64' }}
        run: go test -v ./...

  build-linux:
    name: On Linux ${{ matrix.arch }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # Cross-compiling to ARM64 is not supported for Linux.
        arch:
          - amd64
    steps:
      - name: Set up Node 16
        uses: actions/setup-node@v3
        with:
          node-version: 16
        id: npm

      - name: Set up Go ^1.19
        uses: actions/setup-go@v4
        with:
          go-version: ^1.19
        id: go

      - name: Install Wails dependencies
        run: |
          sudo apt-get update
          sudo apt-get install build-essential libgtk-3-dev libwebkit2gtk-4.0-dev

      - name: Get Wails
        run: go install github.com/wailsapp/wails/v2/cmd/wails@v2.4.1

      - name: Check out code into the Go module directory
        uses: actions/checkout@v3

      - name: Build binary
        run: wails build -f -platform=linux/${{ matrix.arch }}

      - name: Tests backend
        if: ${{ matrix.arch == 'amd64' }}
        run: go test -v ./...
